doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Singularity
    link(rel='stylesheet', href='/css/style.min.css')
  body
    h1
      | This is my new template
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad, autem, commodi culpa dignissimos distinctio dolorem error explicabo fuga fugiat illo incidunt obcaecati quae quasi quo reiciendis rem soluta vero!
